<h1>Orders List</h1>
<table>
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Oreder Date</th>
            <th>Order Status</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{order.id}}</td>
            <td>{{order.created}}</td>
            {% if order.paid %}
            <td class="success">Successful</td>
            {% else %}
            <td class="success">UnSuccessful</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>