{% extends 'parent/base.html' %}
{% load static %}
{% block title %}Cart{% endblock %}
{% block content %} 
<br> <br> <br> <br>
    <div class="header">
        <h1>Shopping Cart</h1>
    </div>
    <div class="cart-detail-container">
        {% for item in cart %}
            <div class="product-item" data-item-id="{{item.product.id}}">
                <a href="{% url 'shop:product_detail' item.product.id item.product.slug %}">
                    <img src="{{ item.product.images.first.file.url }}" class="product-image">
                </a>
                <div class="product-info">
                    <h3>
                        <a href="{% url 'shop:product_detail' item.product.id item.product.slug %}">
                            Product Name : {{item.product.name}}
                        </a>
                    </h3>
                    <p>Quantity : <span id="item-quantity-{{item.product.id}}">{{item.quantity}}</span></p>
                    <p>Unit price : <span id="">{{item.price}}</span></p>
                    <p>Total price : <span id="item-total-{{item.product.id}}">{{item.total}}</span></p>
                </div>
                <div class="actions">
                    <div class="quantity-add">+</div>
                    <div class="quantity-decrase">-</div>
                    <div class="quantity-remove">remove</div>
                </div>
            </div>
        {% endfor %}    
    </div>
    <div class="total_price">
        <p> Total Price <span id="item-total-price">{{ cart.get_total_price }}</span> $ </p>
        <p> Shipping cost <span id="item-post-price">{{ cart.get_post_price }}</span> $ </p>
        <p> Final cost <span id="item-final-price">{{ cart.get_final_price }}</span> $ </p>
    </div>
    <div class="checkout-buttons">
        <div class="continue-btn"><a href="{% url 'orders:verify_phone' %}">Continue shopping</a></div>
        <div class="back-btn"><a href="{% url 'shop:product_list' %}">Back to the product list</a></div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function(){
        $('.quantity-add').on('click', function(){
            updateQuantity($(this).closest('.product-item').data('item-id'), 'add');
        });

        $('.quantity-decrase').on('click', function(){
            updateQuantity($(this).closest('.product-item').data('item-id'), 'decrase');
        });

        $('.quantity-remove').on('click', function(){
            removeItem($(this).closest('.product-item').data('item-id'));
        });

        function updateQuantity(itemId, action){
            $.ajax({
                type:'POST',
                url:'{% url "cart:update_quantity" %}',
                data:{
                    'item_id':itemId,
                    'action':action,
                    'csrfmiddlewaretoken':'{{ csrf_token }}'
                },
                success: function(response){
                    if (response.success){
                        $('#item_count').text(response.item_count);
                        $('#total_price').text(response.total_price);
                        $('#item-quantity-'+itemId).text(response.quantity);
                        $('#item-total-'+itemId).text(response.total);
                        $('#item-total-price').text(response.total_price);
                        $('#item-final-price').text(response.final_price);
                    }else{
                        alert('Error updating quantity!');
                    }
                }
            });
        }

        function removeItem(itemId){
            $.ajax({
                type: 'POST',
                url: '{% url "cart:remove_item" %}',
                data: {
                    'item_id': itemId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(data){
                    if (data.success) {
                        $('#item_count').text(data.item_count);
                        $('#total_price').text(data.total_price);
                        $('#item-total_price').text(data.total_price);
                        $('#item-final_price').text(data.final_price);
                        $(`.product-item[data-item-id=${itemId}]`).remove();
                    } else {
                        alert('Error remove quantity!');
                    }
                }

            });
        }

    });
</script>
{% endblock %}
